@import "../variables";

.station-attributes {
  background-color: #fff;
  padding: 10px 14px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

    &__label {
      color: $label-color;
      padding-right: $base-offset;
    }
  }
}
