@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
  font-family: 'IBM Plex Sans';
  color: $text-color;
  background-color: $body-color;
  border-color: $body-frame-color;
  border-style: solid;
  border-width: $body-frame-width $body-frame-width 0 $body-frame-width;
  font-size: $base-font-size;

  &:before,
  &:after {
    content: '';
    display: block;
    position: fixed;
    right: $body-frame-width;
    left: $body-frame-width;
    height: $body-frame-width + $layout-bottom-offset;
    background-color: $body-frame-color;
    border-color: $body-color;
    border-style: solid;
    border-width: 0;
  }

  &:before {
    top: 0;
    border-bottom-width: $layout-bottom-offset;
  }

  &:after {
    bottom: 0;
    border-top-width: $layout-bottom-offset;
  }
}

h1 {
  font-size: $h1-size;
  font-weight: 700;
}

.hidden {
  display: none;
}

.text-capitalize {
  text-transform: capitalize;
}
