.layout {
  display: flex;
  flex-direction: column;
  max-width: $content-width;
  margin: 80px auto 0 auto;
  padding: 0 $base-offset $body-frame-width + $layout-bottom-offset $base-offset;

  &__header {
    display: flex;
    align-items: center;
    height: $header-height;
    margin-bottom: 48px;
  }
}
